.dashboard {
    display: flex;
    padding: 20px;
    min-height: 100vh; /* Ensures dashboard takes full height */
    background-color: #fafafa; 
}

.widgets {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px; /* Increase the gap between widgets */
    margin-left: 220px;
    width: calc(100% - 220px);
    padding-bottom: 40px; /* Add space at the bottom */
    padding-top: 40px; /* Add space from the top */
}

.dashboard h1 {
    color: #2B4162;
    margin-bottom: 20px;
    font-size: 2.5rem; /* Bigger title */
}
