.userlist-container {
    background-color: #F5F0F6;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.userlist-container ul {
    list-style-type: none;
    padding: 0;
}

.userlist-container li {
    background-color: gray;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
    color: #fff;
}
