.weather-widget {
    padding: 20px;
    background-color: #f5f0f6;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.weather-widget h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.weather-widget input {
    padding: 8px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.weatherButton {
    padding: 10px 20px;
    background-color: #385F71;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.weatherButton:hover {
    background-color: #1f3152;
}


.cityNames {
    font-size: 32px; 
    font-weight: bold;
    margin: 10px 0;
}


.weather-widget p {
    font-size: 28px; 
    margin: 5px 0;
}

/* Error message styling */
.error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}
